@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

body {
    font-family: 'Sixtyfour', sans-serif;
    color: white;
    background-color: black;
    background-image: url(matrix.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
}